// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    background-color: FFFAFA;
}

.sammy-container {
    max-width: $g-max-width;
    @include margin(null auto);

    @include media('>=xlarge') {
        @include padding(null $g-xl-container-padding)
    }
    
    @include media('>=large', '<xlarge') {
        @include padding(null $g-lg-container-padding)
    }
    
    @include media('>=small', '<large') {
        @include padding(null $g-md-container-padding)
    }

    @include media('<small') {
        @include padding(null $g-sm-container-padding)
    }
}

main {
    p, h1, h2, h3, h4, h5, h6, figcaption {
        max-width: rem(640);
        @include margin(null auto null null);
    }

    header {
        @include margin(null null rem(48) null);

        h1 {
            @include margin(0 null rem(8) null);
        }

        p {
            @include margin(null null 0 null);
        }

    }
}

figure {
    max-width: 100%;
    @include margin(null null null 0);

    img {
        width: 100%;
    }
}

.sammy-fig-md {
    max-width: rem(640);
}

.sammy-fig-sm {
    max-width: rem(320);
}

figcaption {
    color: $l-text-light;
    font-size: rem(16);
    @include margin(rem(8) null null null);
}