{{ define "main" }}

<main>
    <header>
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.Subtitle }}</p>
    </header>

    {{ range .Pages }}
    <article class="list">
        <a href="{{ .RelPermalink }}">
            <h2>{{ .Title }}</h2>
            <p>{{ .Params.Subtitle }}</p>
            <!--<p>{{ math.Round (div (countwords .Content) 220.0) }} minute read</p> -->
            
            {{ if .IsSection }}
                <ul>
                {{ range where .Pages "Section" "blog" }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
                </ul>
            {{ end }}
        </a>
    </article>
    {{ end }}
</main>

{{ end }}