.sammy-list {
    h1 {
        font-size: rem(18);
        @include margin(null null rem(40) null);
    }

    article {
        @include margin(null null rem(24) null);

        h2 {
            font-size: rem(18);
        }

        p:nth-of-type(1) {
            color: $l-text-normal;
        }

        p:nth-of-type(2) {
            font-size: rem(16);
            color: $l-text-light;
        }
    }
}