<body>
    <div class="sammy-container">
        <div class="sammy-navigation">
            <div class="sammy-title">
                <p><a href="{{ .Site.BaseURL }}">{{ $.Site.Params.name }}&nbsp;<span>—&nbsp;{{ $.Site.Params.job }}</span></a></p>
            </div>
            <nav>
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">
                        {{ $text := print .Name | safeHTML }}
                        {{ $text }}
                    </a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>